{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static './css/blog.css' %}">
    <title>Django App</title>
</head>

<body>

    {% block content %}
    {% endblock %}

    <footer>
        <a href="https://www.linkedin.com/in/laura-faria-castro/" target="_blank">
            <img src="https://camo.githubusercontent.com/e67ed2f1eaf78ba71c68237e69e60e618ab8dc82a28d07ad0dfa51f4682dccf2/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f2d4c6175726125323043617374726f2d3033333966633f7374796c653d666c61742d737175617265266c6f676f3d4c696e6b6564696e266c6f676f436f6c6f723d7768697465266c696e6b3d68747470733a2f2f7777772e6c696e6b6564696e2e636f6d2f696e2f6c617572614643612f"
                alt="Linkedin Badge"
                data-canonical-src="https://img.shields.io/badge/-Laura%20Castro-0339fc?style=flat-square&amp;logo=Linkedin&amp;logoColor=white&amp;link=https://www.linkedin.com/in/lauraFCa/"
                style="max-width: 100%;">
        </a>
    </footer>
</body>

</html>