{% extends 'blog/base.html' %}

{% block content %}

<div class="home">
    <div class="section">
        <h1>A Simple Blog Page Made with Django</h1>
        <p>
            Blog page made using Django, hosted on <a
                href="https://github.com/lauraFCa/Python-Projects/tree/master/BlogWebAppInDjango"
                target="_blank">Github</a> and deployed with <a href="https://www.pythonanywhere.com/"
                target="_blank">PythonAnywhere</a>. <br>
            This is a small learning application to increase Python knowledge and get more familiar with Django
            framework
        </p>
    </div>
    <div class="section">
        <span class="section-header">About Me:</span>
        <p>
            👋🏽 Hi, I'm Laura <br />
            📈 I'm interested in learning and improving as much as I can <br />
            🐍 I've always been a huge Python fan, so a lot of studying and tinkering here is Python related :D
            <br />
            👩🏽‍💻 I'm currently working as Junior QA, and loving it! <br />
            👩🏽‍🎓 I'm in college for Software Engineering and recently graduated in Mechatronics Engineering
            <br />
        </p>
        <div class="stats">
            <img src="https://camo.githubusercontent.com/9257832538ab66b7cd816da0d2c5a3c75db94aaebea369a6a3e49cab1f9bd49f/68747470733a2f2f6769746875622d726561646d652d73746174732e76657263656c2e6170702f6170692f746f702d6c616e67732f3f757365726e616d653d6c61757261464361266c61796f75743d636f6d70616374267468656d653d746f6b796f6e6967687426686964653d48544d4c"
                alt="Top Langs"
                data-canonical-src="https://github-readme-stats.vercel.app/api/top-langs/?username=lauraFCa&amp;layout=compact&amp;theme=tokyonight&amp;hide=HTML"
                style="max-width: 100%;">
        </div>
    </div>
    <div class="section back">
        <a href="/posts">Django Posts</a>
    </div>
</div>
{% endblock %}