body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #02001bf6;
    color: #c7c7c7;
}

.content,
.home {
    margin-bottom: 5%;
}

.section {
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
    justify-content: center;
    align-items: stretch;
}

.section a,
.section a:active,
.section a::after {
    border-radius: 5px;
    padding: 0 3px 0 3px;
}

.content .section a,
.content .section a:active,
.content .section a::after {
    color: #f0f0f0;
    background-color: #ffffff02;
}

.home .section a,
.home .section a:active,
.home .section a::after {
    color: #c7c7c7;
    background-color: #ffffff5e;
}

.section h1 {
    text-shadow: 2px 3px 1px #000000;
}

.section-header {
    font-weight: bold;
}

.top {
    position: fixed;
    top: 4%;
    right: 2%;
}

article {
    border: solid #ffffff8a 1px;
    border-radius: 5px;
    padding: 1%;
    margin: 0.5%;
    max-width: 70%;
}

article a{
    color: #f0f0f0c2;
}

article a:hover{
    color: #f0f0f0e8;
}

.date {
    font-style: italic;
}

.back {
    text-align: left;
    padding: 5px;
}

.back a {
    margin: 15px 0 8px 0;
    color: #818181;
    text-decoration: none;
    background-color: transparent !important;
}

.back a:hover {
    text-shadow: 1px 1px .6px #a3a3a3;
}

.single-post{
    border-top: solid 20px rgba(6, 32, 104, 0.5);
    padding: 10px 10% 10px 10%;
    margin-bottom: 5%;
}

label, input, textarea{
    max-width: 100%;
    display: block;
}

input, textarea {
    padding: .5rem;
    margin: 0;
}

input {
    width: 93.5%;
}

.button-div {
    width: 100%;
    text-align: right;
}

.btn {
    padding: .5rem 1.5rem;
    text-align: right;
    border-radius: 5px;
}

footer {
    padding: 10px;
    background-color: #00000098;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}